<!doctype html>
<html>
<head>
  <title>Madlib 2</title>
</head>
<body>

<h1>Madlib 2</h1>

<!-- 
name1
name2
movie
adjective1 
verb1
noun
candy 
food 
verb2
verb3
verb4
adjective2 
adjective3 
adjective4 
adjective5
-->
<form action="/madlib2">
    <p>Please enter the following information:</p>
    <br>
    <label for="name1">Enter a person1's name: </label>
    <input type="text" name="name1" id="name1">
    <br>
    <label for="name2">Enter a person2's name: </label>
    <input type="text" name="name2" id="name2">
    <br>
    <label for="movie">Enter a movie: </label>
    <input type="text" id="movie" name="movie">
    <br>
    <label for="candy">Enter a candy: </label>
    <input type="text" id="candy" name="candy">
    <br>
    <label for="food">Enter a food: </label>
    <input type="text" id="food" name="food">
    <br>
    <label for="noun">Enter a noun: </label>
    <input type="text" id="noun" name="noun">
    <br>
    <label for="adjective1">Enter an adjective1: </label>
    <input type="text" id="adjective1" name="adjective1">
    <br>
    <label for="adjective2">Enter an adjective2: </label>
    <input type="text" id="adjective2" name="adjective2">
    <br>
    <label for="adjective3">Enter an adjective3: </label>
    <input type="text" id="adjective3" name="adjective3">
    <br>
    <label for="adjective4">Enter an adjective4: </label>
    <input type="text" id="adjective4" name="adjective4">
    <br>
    <label for="adjective5">Enter an adjective5: </label>
    <input type="text" id="adjective5" name="adjective5">
    <br>
    <label for="verb1">Enter a verb1: </label>
    <input type="text" id="verb1" name="verb1">
    <br>
    <label for="verb2">Enter a verb2: </label>
    <input type="text" id="verb2" name="verb2">
    <br>
    <label for="verb3">Enter a verb3: </label>
    <input type="text" id="verb3" name="verb3">
    <br>
    <label for="verb4">Enter a verb4: </label>
    <input type="text" id="verb4" name="verb4">
    <br>
    <input type="submit">
</form>

</body>
</html>
