<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>

<h1>Hi There!</h1>
<!-- ask for a person, a color, a noun, and an adjective.  -->
<form action="/madlib">
    <p>Please enter the following information:</p>
    <br>
    <label for="person">Enter a person's name: </label>
    <input type="text" name="person" id="person">
    <br>
    <label for="color">Enter a color: </label>
    <input type="text" id="color" name="color">
    <br>
    <label for="noun">Enter a noun: </label>
    <input type="text" id="noun" name="noun">
    <br>
    <label for="adjective">Enter an adjective: </label>
    <input type="text" id="adjective" name="adjective">
    <br>
    <input type="submit">
</form>

</body>
</html>
