<!doctype html>
<html>
<head>
  <title>madlib</title>
</head>
<body>

<h1>Madlib</h1>
<!-- 
name1
name2
movie
adjective1 
verb1
noun
candy 
food 
verb2
verb3
verb4
adjective2 
adjective3 
adjective4 
adjective5
-->
<p>
  I went to the movies yesterday with {{ name1 }} and {{ name2 }} We saw {{ movie }}. It was {{ adjective1 }}. 
  At one part, I even {{ verb1 }} and ran for the {{ noun }}. During the move, we ate {{ candy }} and {{ food }}. 
  I got mad because the person sitting behind me kept {{ verb2 }} during the movie and 
  wouldn't stop {{ verb3 }}. He was asked to leave after he {{ verb4 }} across the theatre. 
  It was pretty {{ adjective2 }}. Overall, I liked the movie because it was {{ adjective3 }} and 
  the main character was super {{ adjective4 }}. 
  Hopefully next time the people sitting behind me will be more {{ adjective5 }}.
</p>

<a href="\">return to homepage</a>
</body>
</html>
