<!-- <!doctype html>
<html>
<head>
  <title>madlib</title>
</head>
<body>

<h1>Madlib</h1>

<p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
    When {{ person }} went to pick it up, it burst into flames in a totally
    {{ adjective }} way.</p>

<a href="\">return to homepage</a>
</body>
</html> -->

{% extends 'base.html' %}

{% block title %}My awesome page title{% endblock %}

{% block content %}

<p>
    There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
    When {{ person }} went to pick it up, it burst into flames in a totally
    {{ adjective }} way.
</p>

<a href="\">return to homepage</a>

{% endblock %}